<h2>Payment Info</h2>
<% if(@user.active_payment) %>
  <p>
    Payment Plan: <strong id="current_payment_plan">5 toons</strong>
  </p>
  <br />
  <p>
    <% if @user.active_payment.recurring? %>
      Your account will be billed again in <strong id="days_until_billing"><%= time_ago_in_words(@user.active_payment.paid_until) %></strong>
    <% else %>
      Your account is active for another <strong id="time_remaining"><%= time_ago_in_words(@user.active_payment.paid_until) %></strong>
    <% end %>
  </p>
  <br />
  <p><%= link_to "Payment History", payment_receipts_path %></p>
  <br />
  <p><a href="https://payments.amazon.com/sdui/sdui/subscriptions?Type=SUBSCRIBER">Cancel your account</a></p>
<% else %>
  <p>
    Payment Plan: <strong id="current_payment_plan">None</strong>
  </p>
  <br />
  <p>
    <%= link_to "Sign up for GearMyToon", payment_path %>
  </p>
  <br />
  <p><%= link_to "Payment History", payment_receipts_path %></p>
<% end %>
