<div class="column grid_5">
  <h2 class="signin_header">Register using one of these sites</h2>
  <div id="rpx_now_widget">
    <%= RPXNow.embed_code('gearmytoon',rpx_token_sessions_url) %>
  </div>
</div>
<div id="or" class="column grid_2">
  <p>&mdash;or&mdash;</p>
</div>
<div class="column grid_5">
  <h2 class="signin_header">Register directly with us</h2>
  <% form_for @user, :url => account_path do |f| %>
    <%= f.error_messages :header_message => nil %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'text' %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'password' %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'password' %>
    </p>
    <p>
      <%= f.submit "Sign Up", :class => 'button' %>
    </p>
  <% end %>
</div>
