<div id="user">
  <div class="toons column grid_8">
    <h2>Your Toons</h2>
    <% form_for @character, :html => {:class => 'inline'} do |f| -%>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'text' %>
      </p>
      <p>
        <%= f.label :realm %>
        <%= f.text_field :realm, :class => 'text' %>
      </p>
      <p>
        <%= f.label :locale %>
        <%= f.select :locale, Character::LOCALES %>
      </p>
      <p>
        <%= f.submit "Add Toon", :class => 'button' %>
      </p>
    <% end %>
    <ul>
      <% @user.characters.each do |c| -%>
        <li><%= render 'shared/character_info', :character => c, :size => 'small' %></li>
      <% end -%>
    </ul>
  </div>
  <div class="user_controls column grid_4">
    <h2>Account Info</h2>
    <p><%= @user.email %></p>
    <br />
    <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
    <br />
    <br />
    <h2>Payment Info</h2>
    <% if(@user.active_payment) %>
    <p>
      Payment Plan: <strong id="current_payment_plan">5 toons</strong>
    </p>
    <p>
      Your account will be billed again in <strong id="days_until_billing"><%= time_ago_in_words(@user.active_payment.time_remaining) %></strong>
    </p>
    <br />
    <p>
      <a href="#">Change Payment Plan</a>
    </p>
    <% else %>
    <p>
      Payment Plan: <strong id="current_payment_plan">None</strong>
    </p>
    <br />
    <p>
      <%= link_to "Sign up for GearMyToon", payment_path %>
    </p>
    <% end %>
  </div>
</div>
