<div class="creature">
  <div class="info">
    <div class="summary">
      <h2 class="name"><%= @creature.name %></h2>
      <div><span class="classification"><%= @creature.humanize_classification %></span></div>
      <div>Level <span class="level_range"><%= @creature.level_range %></span></div>
      <div>Found in <span class="found_in"><%= @creature.area.simplified_name %></span></div>
    </div>
    <div class="area">
      <div class="name"><%= @creature.area.simplified_name %></div>
      <ul class="related">
        <% @creature.other_bosses_in_same_area.each do |other_creature| %>
          <li class="encounter">
            <%= link_to other_creature.name, creature_path(other_creature), :class => "other_creature neutral npc" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="items_dropped">
    <table class="items_table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Difficulty</th>
          <th>Slot</th>
          <th>Drop Rate</th>
        </tr>
      </thead>
      <tbody>
        <% @creature.all_difficulties.each do |creature| %>
          <% creature.dropped_sources.each do |item_source| %>
            <tr class='item_dropped'>
              <td><%= item_image_link item_source.item %></td>
              <td class="item_name"><%= stylized_item_name(item_source.item) %></td>
              <td class="difficulty"><%= creature.area.difficulty_players %></td>
              <td class="item_type"><%= item_source.item.slot_info %></td>
              <td class="drop_rate"><%= item_source.drop_rate_percent %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
