<div class="character <%= character.faction %> <%= 'pvp' if pvp %>">
  <%= character_icon character %>
  <div class="info">
    <h1 class="name"><%= character.name %></h1>
    <% if character.guild.present? || true -%>
      <p class="guild"><%= character.guild || "Wipes on Trash" %></p>
    <% end -%>
    <p class="level"><%= character.level %></p>
    <p>
      <span class="spec"><%= character.primary_spec %></span>
      <span class="klass"><%= character.wow_class.name %></span>
    </p>
    <p>
      <span class="realm"><%= character.realm.capitalize %></span> /
      <span class="battlegroup"><%= character.battle_group %></span>
    </p>
  </div>
</div>
<% if pvp -%>
  <%= link_to "Show PvE Gear", character_path(character), :class => 'awesome large green' %>
<% else -%>
  <%= link_to "Show PvP Gear", pvp_character_path(character), :class => 'awesome large red' %>
<% end -%>
