<%
  pvp ||= false
  size ||= ''
%>
<div class="character <%= character.faction %> <%= 'pvp' if pvp%> <%= size %>">
  <div class="portrait">
    <%= link_to character_icon(character), character %>
    <p class="level"><%= character.level %></p>
  </div>
  <div class="info">
    <p class="name"><%= link_to character.name, character %></p>
    <% if character.guild.present? -%>
      <p class="guild"><%= character.guild %></p>
    <% end -%>
    <p>
      <span class="spec"><%= character.primary_spec %></span>
      <span class="klass"><%= character.wow_class.name %></span>
    </p>
    <p>
      <span class="realm"><%= character.realm.capitalize %></span> /
      <span class="battlegroup"><%= character.battle_group %></span>
    </p>
  </div>
</div>
