<%= render "shared/character_info", :character => @character, :pvp => false %>
<div style="clear:both"></div>
<%= link_to "Show PvP Gear", pvp_character_path(@character), :class => 'awesome large red' %>
<div id="upgrades">
  <ul id="tabs">
    <%= tab_link(styled_wow_icon("game_icons/summary.png"), character_path(@character), "Upgrade Summary") %>
    <%= tab_link(item_icon(Item.badge_of_frost), frost_character_upgrades_path(@character), "Frost Emblem Upgrades") %>
    <%= tab_link(item_icon(Item.badge_of_triumph), triumph_character_upgrades_path(@character), "Triumph Emblem Upgrades") %>
    <%= tab_link(styled_wow_icon("game_icons/dungeon.png"), dungeon_character_upgrades_path(@character), "Dungeon Upgrades") %>
    <%= tab_link(styled_wow_icon("game_icons/raid10.jpg"), raid_10_character_upgrades_path(@character), "10 man Raid Upgrades") %>
    <%= tab_link(styled_wow_icon("game_icons/raid25.jpg"), raid_25_character_upgrades_path(@character), "25 man Raid Upgrades") %>
  </ul>
  <div id="active_tab">
    <%= yield %>
  </div>
</div>
