<div id="upgrades">
  <ul id="tabs">
    <%= tab_link("S", character_path(@character)) %>
    <%= tab_link(item_icon(Item.badge_of_frost), frost_character_upgrades_path(@character)) %>
    <%= tab_link(item_icon(Item.badge_of_triumph), triumph_character_upgrades_path(@character)) %>
    <%= tab_link(item_icon(Item.badge_of_triumph), dungeon_character_upgrades_path(@character)) %>
    <%= tab_link(item_icon(Item.badge_of_triumph), raid_10_character_upgrades_path(@character)) %>
    <%= tab_link(item_icon(Item.badge_of_triumph), raid_25_character_upgrades_path(@character)) %>
  </ul>
  <div id="active_tab">
    <%= yield %>
  </div>
</div>