<%= render "shared/character_info", :character => @character, :pvp => true %>
<div style="clear:both"></div>
<%= link_to "Show PvE Gear", @character, :class => 'awesome large green' %>
<div id="upgrades">
  <ul id="tabs">
    <%= tab_link(styled_wow_icon("game_icons/summary.png"), pvp_character_path(@character), "PvP Upgrade Summary") %>
    <%= tab_link(styled_wow_icon("game_icons/honor.png"), honor_character_pvp_upgrades_path(@character), "Honor Point Upgrades") %>
    <%= tab_link(styled_wow_icon("game_icons/arena.png"), arena_character_pvp_upgrades_path(@character), "Arena Point Upgrades") %>
    <%= tab_link(item_icon(Item.wintergrasp_mark), wintergrasp_character_pvp_upgrades_path(@character), "Wintergrasp Upgrades") %>
    <%= tab_link(item_icon(Item.badge_of_triumph), triumph_character_pvp_upgrades_path(@character), "Triumph Emblem Upgrades") %>
    <%= tab_link(item_icon(Item.badge_of_frost), frost_character_pvp_upgrades_path(@character), "Frost Emblem Upgrades") %>
  </ul>
  <div id="active_tab">
    <%= yield %>
  </div>
</div>