<div class="upgrade_section" id="<%= kind_of_upgrade.gsub(/\s/,"_").downcase %>">
  <% if upgrades.any? %>
    <% if local_assigns[:link_to_more] %>
      <h1 class="upgrade_summary_header"><%= link_to "#{kind_of_upgrade} Upgrades", link_to_more %></h1>
    <% else %>
      <h1 class="upgrade_summary_header"><%= "#{kind_of_upgrade} Upgrades" %></h1>
    <% end %>
    <table class='upgrade_table'>
      <thead>
        <tr class="upgrade_headers">
          <th></th>
          <th>Upgrade</th>
          <th>GMT points</th>
          <th></th>
          <th>Old Item</th>
          <th class="upgrade_source">Source</th>
        </tr>
      </thead>
    <% upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
    </table>

    <% if(upgrades.is_a?(WillPaginate::Collection)) %>
      <%= will_paginate upgrades %>
    <% end %>
  <% end %>
</div>
