<tr class="upgrade">
  <td><%= wowhead_item_image_link upgrade.new_item %></td>
  <td class="wow_item"><%= stylized_item_name(upgrade.new_item) %></td>
  <td><%= upgrade.dps_change %></td>
  <% if upgrade.old_item.nil? #TODO: not happy with this if check in the view, should it be here? %>
    <td></td>
    <td class="wow_item"><%= content_tag :span, "Empty Slot", :class => "old_item" %></td>
  <% else %>
    <td><%= wowhead_item_image_link upgrade.old_item %></td>
    <td class="wow_item old_item"><%= stylized_item_name(upgrade.old_item) %></td>
  <% end %>
  <% if upgrade.new_item.dropped_item? %>
    <td class="upgrade_info"><span class="source">Found in: <%= wowhead_area_link(upgrade.new_item.source_area) %></span></td>
  <% elsif upgrade.new_item.purchased_item? %>
    <td class="upgrade_info">Will cost you: <%= content_tag :span, upgrade.new_item.token_cost, :class => "cost" %> emblem's.</td>
  <% end %>
</tr>
