<div id="welcome">
  <div class="copy column grid_6">
    <h1>Your source for the best gear</h1>
    <p class="large">Gear my Toon provides gear recommendations tailored just for your toons. We do the math so you don't have to.</p>
    <div class="testimonial even">
      <blockquote>Gear My Toon is amazing. I wouldn't play WoW without it.</blockquote>
      <cite><img alt="Merb" src="http://www.wowarmory.com/_images/portraits/wow-80/0-8-3.gif" /><a href="/characters/merb-baelgun-us">Merb &mdash; Level 80 Hunter</a></cite>
    </div>
    <div class="testimonial odd">
      <blockquote class="right">I love seeing the gear that is best for my rogue.</blockquote>
      <cite><img alt="Ecma" src="http://www.wowarmory.com/_images/portraits/wow-80/0-5-4.gif" /><a href="/characters/ecma-baelgun-us">Ecma &mdash; Level 70 Rogue</a></cite>
    </div>
    <ul class="features">
      <li class="anvil"><strong>Get the best gear</strong> &mdash; our algorithm is customized to <em>your</em> toon</li>
      <li class="deep_dive_helmet"><strong>Keep your head in the game</strong> &mdash; no need to spend all your time studying spreadsheets</li>
      <li class="frost_shield"><strong>Spend your badges wisely</strong> &mdash; we'll show the best gear you can buy</li>
      <li class="aegis"><strong>Swing both ways</strong> &mdash; we find gear for whatever mood you're in &mdash; PvP or PvE</li>
    </ul>
  </div>
  <div class="actions column grid_6">
    <ul>
      <li class="trial">
        <h3>Join for a day</h3>
        <p><a href="#">Give us a shot. Join for only <strong>$1</strong></a></p>
      </li>
      <li class="toon_search">
        <h3>Find your Toon</h3>
        <% form_for @character do |f| -%>
          <%= f.error_messages %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name, :class => 'text' %>
          </p>
          <p>
            <%= f.label :realm %>
            <%= f.text_field :realm, :class => 'text' %>
          </p>
          <p class="locale">
            <%= f.label :locale %>
            <%= f.select :locale, Character::LOCALES %>
          </p>
          <p>
            <%= f.submit "Gear Me!", :class => 'button' %>
          </p>
        <% end %>
      </li>
      <li class="customers">
        <h3>Hear from our customers</h3>
        <p><%= link_to "Read testimonials from satisfied customers and view their character pages.", testimonials_path %></p>
      </li>
      <li class="math">
        <h3>Learn more</h3>
        <p><%= link_to "Check out how we customize results for your toon.", math_path %></p>
      </li>
    </ul>
  </div>
</div>
<hr />
<div id="math" name="math">
  <h2>How this works</h2>
  <p>
    We know that every World of Warcraft character is built differently. Unlike other gear recommendation sites we take
    all there is to know about the specifics of your character to build a unique set of upgrades for your toon. We sort
    your character's upgrades and help you make informed decisions about how to spend your time in Azeroth.
  </p>
  <div class="column grid_4">
    <h3>Your Toon</h3>
    <p>We talk directly to Blizzard's WoW Armory to get the latest information about your character.</p>
    <div class="character horde pvp small">
      <a href="/characters/ecma-baelgun-us"><img alt="Ecma" src="http://www.wowarmory.com/_images/portraits/wow-80/0-5-4.gif" /></a>
      <div class="info">

        <p class="name"><a href="/characters/ecma-baelgun-us">Ecma</a></p>
        <p class="level">72</p>
        <p>
          <span class="spec">Assassination</span>
          <span class="klass">Rogue</span>
        </p>
        <p>

          <span class="realm">Baelgun</span> /
          <span class="battlegroup">Shadowburn</span>
        </p>
      </div>
    </div>
  </div>
  <div class="column grid_1 arrow">+</div>
  <div class="column grid_3">
    <h3>Our Formulas</h3>
    <p>We do the math for the most important aspects of your character and ask the right questions about upgrades.</p>
    <div class="box formula">
      <ul>
        <li>Stats</li>
        <li>Hard and Soft Caps</li>
        <li>Talent Build</li>
        <li>Current Gear</li>
        <li>PvP Status</li>
      </ul>
    </div>
  </div>
  <div class="column grid_1 arrow">=</div>
  <div class="column grid_3">
    <h3>Your Upgrades</h3>
    <p>We hate information overload. We help you sort through all your potential upgrades.</p>
    <div class="box results">
      <ul>
        <li><h4>Badges</h4>
          <ul>
            <li>Emblem of Frost</li>
            <li>Emblem of Triumph</li>
          </ul>
        </li>
        <li><h4>Raids and Dungeons</h4>
          <ul>
            <li>Ice Crown Citadel</li>
            <li>Pit of Sauron</li>
            <li>Trial of the Crusader</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
