<div class="column grid_7">
  <%= image_tag "interested.jpg" %>
</div>
<div id="interested" class="column grid_5">
  <h1>Join the Beta</h1>
  <p>
    Want gear recommendations tailored just for your level 80 World of Warcraft character?
    Leave us your e-mail, and we will let you know when we start our public beta.
  </p>
  <% form_for @beta_participant, :url => '/interested' do |f| -%>
    <%= f.error_messages %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'text' %>
    </p>
    <p>
      <%= submit_tag 'submit', :class => 'button' %>
    </p>
  <% end -%>
  <h1>Learn More</h1>
  <p>
    GearMyToon.com is a service providing gear recommendations
    for your level 80 World of Warcraft characters. If you're still curious
    check out some <%= link_to "reasons", "/reasons" %> you might enjoy such a service.
  </p>
</div>
