<div id="reasons" class="grid_10">
  <h1>Five reasons you'll love Gear My Toon</h1>
  <div class="row">
    <div class="column grid_5">
      <%= image_tag 'more_time.jpg' %>
    </div>
    <div class="column grid_5">
      <h2>Spend More Time Playing</h2>
      <p>
        Spend less time researching formulas on forums and websites. Gear My Toon does the work so
        you don't have to.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column grid_5">
      <h2>Cure End-game Paralysis</h2>
      <p>
        Stop going in circles wondering where you should find the best helm or staff. Gear My Toon
        gives you the best upgrades in the places you and your friends already spend the most time.
        From Emblems of Frost to Heroic Dungeons -- we give you the best upgrades you can find.
      </p>
    </div>
    <div class="column grid_5">
      <%= image_tag 'paralysis.jpg' %>
    </div>
  </div>

  <div class="row">
    <div class="column grid_5">
      <%= image_tag 'naked.jpg' %>
    </div>
    <div class="column grid_5">
      <h2>Gear Up</h2>
      <p>
        What can you do in WoW without gear? Kill boars? Ride the Zeppelins? Gear My Toon is here
        to help. Using formulas tuned to your toon's class, stats, and current gear we scour Azeroth
        to find the right gear for your toon.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column grid_5">
      <h2>Cure Gear Envy</h2>
      <p>
        Stop wondering how your friends were able to get Tier 10.5 sets in a week and let Gear My Toon
        provide you with upgrades that keep you from giving every waking hour away to WoW.
      </p>
    </div>
    <div class="column grid_5">
      <%= image_tag 'gear_envy.jpg' %>
    </div>
  </div>

  <div class="row">
    <div class="column grid_5">
      <%= image_tag 'needy.jpg' %>
    </div>
    <div class="column grid_5">
      <h2>Stop Being Needy</h2>
      <p>
        Gear My Toon will let you see the best possible upgrades scoped to a Dungeon or Raid. Next time
        you start that Heroic Dungeon, Gear My Toon will give a list of any upgrades you should perform a
        Need Roll on.
      </p>
    </div>
  </div>
</div>
