<div id="welcome">
  <div class="copy column grid_6">
    <h1>Your source for the best gear</h1>
    <p class="large">Gear my Toon provides gear recommendations tailored just for your toons. We do the math so you don't have to.</p>
    <a href="#examples">Jump to some examples &#8681;</a>
    <ul class="features">
      <li class="anvil"><strong>Get the best gear</strong> &mdash; our algorithm is customized to <em>your</em> toon</li>
      <li class="deep_dive_helmet"><strong>Keep your head in the game</strong> &mdash; no need to spend all your time studying spreadsheets</li>
      <li class="frost_shield"><strong>Spend your badges wisely</strong> &mdash; we'll show the best gear you can buy</li>
      <li class="aegis"><strong>Swing both ways</strong> &mdash; we find gear for whatever mood you're in &mdash; PvP or PvE</li>
    </ul>
  </div>
  <div class="actions column grid_6">
    <ul>
      <li class="trial">
        <h3>Join today</h3>
        <p><%= link_to "Gear five of your toons for only <strong>$1</strong>", payment_path %></p>
      </li>
      <li class="toon_search">
        <h3>Find your Toon</h3>
        <% form_for @character do |f| -%>
          <%= f.error_messages %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name, :class => 'text' %>
          </p>
          <p>
            <%= f.label :realm %>
            <%= f.text_field :realm, :class => 'text' %>
          </p>
          <p class="locale">
            <%= f.label :locale %>
            <%= f.select :locale, Character::LOCALES %>
          </p>
          <p>
            <%= f.submit "Gear Me!", :class => 'button' %>
          </p>
        <% end %>
      </li>
      <li class="math">
        <h3>Learn more</h3>
        <p><%= link_to "Check out how we customize results for your toon.", math_path %></p>
      </li>
    </ul>
  </div>
</div>
<hr />
<div id="examples" name="examples">
  <h2>Examples</h2>
  <p>
    Spending more money on top of your World of Warcraft subscription shouldn't be taken lightly.
    Check out some active character pages below.
  </p>
  <div class="characters">
    <% @characters.each do |character| -%>
      <%= render 'shared/character_info', :character => character, :pvp => true %>
    <% end -%>
  </div>
</div>
<hr />
<div id="math" name="math">
  <h2>How this works</h2>
  <p>
    We know that every World of Warcraft character is built differently. Unlike other gear recommendation sites we take
    all there is to know about the specifics of your character to build a unique set of upgrades for your toon. We sort
    your character's upgrades and help you make informed decisions about how to spend your time in Azeroth.
  </p>
  <div class="column grid_4">
    <h3>Your Toon</h3>
    <p>We talk directly to Blizzard's WoW Armory to get the latest information about your character.</p>
    <%= render("shared/character_info", :character => @characters.first, :pvp => true) if @characters.first %>
  </div>
  <div class="column grid_1 arrow">+</div>
  <div class="column grid_3">
    <h3>Our Formulas</h3>
    <p>We do the math for the most important aspects of your character and ask the right questions about upgrades.</p>
    <div class="box formula">
      <ul>
        <li>Stats</li>
        <li>Hard and Soft Caps</li>
        <li>Talent Build</li>
        <li>Current Gear</li>
        <li>PvP Status</li>
      </ul>
    </div>
  </div>
  <div class="column grid_1 arrow">=</div>
  <div class="column grid_3">
    <h3>Your Upgrades</h3>
    <p>We hate information overload. We help you sort through all your potential upgrades.</p>
    <div class="box results">
      <h4>Badges</h4>
      <ul>
        <li>Emblem of Frost</li>
        <li>Emblem of Triumph</li>
      </ul>
      <h4>Raids and Dungeons</h4>
      <ul>
        <li>Ice Crown Citadel</li>
        <li>Pit of Sauron</li>
        <li>Trial of the Crusader</li>
        <li>&#0133;and more</li>
      </ul>
    </div>
  </div>
</div>
