<div>
  <h1>Find a character by name</h1>
  <% form_for(:character) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :realm %>
    <%= f.text_field :realm %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<%=h Wowr::API.new().get_item(47725).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(49792).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(47907).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(51289).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(46130).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(47732).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(42074).inspect %>
