<div>
  <h1>Find a character by name</h1>
  <% form_for(:character) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<%=h Wowr::API.new().get_item(50979).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(50262).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(47907).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(51289).inspect %>

