<div>
  <h1>Find a character by name</h1>
  <% form_for(:character) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :realm %>
    <%= f.text_field :realm %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<%=h Wowr::API.new().get_item(47659).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(50776).inspect %>
<br/>
<br/>
<%=h Wowr::API.new().get_item(51325).inspect %>
<br/>
<br/>
