<div id="character_name">
  <%= @character.name %>
</div>
<div>
  <%= link_to "Upgrades From Raids", character_raids_path(@character) %>
  <%= link_to "Upgrades From Dungeons", character_dungeons_path(@character) %>
</div>
<div id="upgrades">
    <div class="upgrade_section" id="emblem_of_frost">
    <h1>Your best upgrade from <%= stylized_item_name Item.badge_of_frost %> <%= wowhead_item_image_link Item.badge_of_frost %></h1>
    <% @character.top_3_frost_upgrades.each do |upgrade| %>
      <%= render 'upgrade', :upgrade => upgrade %>
    <% end %>
  </div>

  <div class="upgrade_section" id="emblem_of_triumph">
    <h1>Your best upgrade from <%= stylized_item_name Item.badge_of_triumph %> <%= wowhead_item_image_link Item.badge_of_triumph %></h1>
    <% @character.top_3_triumph_upgrades.each do |upgrade| %>
      <%= render 'upgrade', :upgrade => upgrade %>
    <% end %>
  </div>

  <div class="upgrade_section" id="heroic_dungeon">
    <h1>Your best upgrade from Heroic Dungeon's</h1>
    <% @character.top_3_heroic_dungeon_upgrades.each do |upgrade| %>
      <%= render 'upgrade', :upgrade => upgrade %>
    <% end %>
  </div>
</div>
