<div id="character_info">
  <span id="portrait"><%= character_icon @character %></span>
  <div id="summary_details">
    <div id="character_name">
      <%= @character.name.capitalize %>
    </div>
    <div class="guild">
      <%=h "<Guild Name>" %>
    </div>
    <div id="realm_and_battlegroup">
      <%= @character.realm %>, <%=h "BattleGroup" %>
    </div>
  </div>
</div>
<div>
  <%= link_to "Upgrades From Raids", character_raids_path(@character) %>
  <%= link_to "Upgrades From Dungeons", character_dungeons_path(@character) %>
</div>
<div id="upgrades">
    <div class="upgrade_section" id="emblem_of_frost">
    <h1>Your best upgrades from <%= stylized_item_name Item.badge_of_frost %> <%= wowhead_item_image_link Item.badge_of_frost %> <span class="see_more"><%= link_to "more upgrades", from_frost_emblems_character_upgrades_path(@character) %></span></h1>
    <% @character.top_3_frost_upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
  </div>

  <div class="upgrade_section" id="emblem_of_triumph">
    <h1>Your best upgrades from <%= stylized_item_name Item.badge_of_triumph %> <%= wowhead_item_image_link Item.badge_of_triumph %> <span class="see_more"><%= link_to "more upgrades", from_triumph_emblems_character_upgrades_path(@character) %></span></h1>
    <% @character.top_3_triumph_upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
  </div>

  <div class="upgrade_section" id="heroic_dungeon">
    <h1>Your best upgrades from Heroic Dungeon's <span class="see_more"><%= link_to "more upgrades", from_dungeons_character_upgrades_path(@character) %></span></h1>
    <% @character.top_3_heroic_dungeon_upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
  </div>
</div>
