<%= error_messages_for(:area) %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :wowarmory_id, "Wow Armory ID" %>
  <%= f.text_field :wowarmory_id %>
</p>
<p>
  <%= f.label :type %>
  <%= f.select :type, ["Dungeon","Raid"] %>
</p>
<%= submit_tag %>
