<div class="item_container">
  <div class="item">
    <%= render 'tooltip', :item => @item %>
    <ul class="links">
      <li>View this item on:</li>
      <li class="wowwiki"><%= link_to "WoWWiki", "http://wowwiki.com" %></li>
      <li class="wowhead"><%= link_to "Wowhead", "http://wowhead.com" %></li>
    </ul>
  </div>
  <div class="item_details">
    <h2>Sources</h2>
    <ul class="sources">
      <% @item.item_sources.each do |s| %>
        <li class="<%= s.as_source_type %>">
          <%= render s.as_source_type, :item_source => s %>
        </li>
      <% end %>
    </ul>
    <% if(@item.item_popularities.any?) %>
      <h2>Who uses it?</h2>
      <table id="item_popularities">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Avg GMT Score</th>
          </tr>
        </thead>
        <tbody>
          <% @item.item_popularities.each do |item_popularity| %>
            <tr class="item_popularity">
              <td class=""><%= link_to item_popularity.wow_class.name, spec_path(item_popularity.wow_class, item_popularity.spec), :class => "wow_class #{item_popularity.wow_class.css_name}" %></td>
              <td class="wow_spec spec_icon <%= item_popularity.spec.css_icon_name %>"></td>
              <td class="percentage"><%= item_popularity.percentage %>%</td>
              <td class="average_gmt_score"><%= item_popularity.average_gmt_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<div id="comment_section">
  <h2 class="comment_header">Comments:</h2>
  <div id="new_comment_form" class='comment'>
    <a class="add_comment">Add Y  our Comment</a>
    <% form_for Comment.new, :url => item_comments_path(@item) do |f| %>
      <div>
        <%= f.text_area :comment, :cols => 70, :rows => 7 %>
      </div>
      <%= f.submit 'Post' %>
    <% end %>
  </div>
  <div id="comment_list" style="display:none;">
    <%= link_to "Comments", item_comments_path(@item), :id => "commentable" %>
  </div>
</div>
