<h1><%= @item.name %></h1>
<div class="item">
  <%= render 'tooltip', :item => @item %>
  <ul class="links">
    <li>View this item on:</li>
    <li class="wowwiki"><%= link_to "WoWWiki", "http://wowwiki.com" %></li>
    <li class="wowhead"><%= link_to "Wowhead", "http://wowhead.com" %></li>
  </ul>
</div>

<div class="item_info">
  <h2>Sources</h2>
  <ul class="sources">
    <% @item.item_sources.each do |s| %>
      <li class="<%= s.as_source_type %>">
        <%= render s.as_source_type, :item_source => s %>
      </li>
    <% end %>
  </ul>
  <% if(@item.item_popularities.any?) %>
    <h2>Who uses it?</h2>
    <table id="item_popularities">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Avg GMT Score</th>
        </tr>
      </thead>
      <tbody>
        <% @item.item_popularities.each do |item_popularity| %>
          <tr class="item_popularity">
            <td class="wow_class <%= item_popularity.wow_class.css_name %>"><%= item_popularity.wow_class.name %></td>
            <td class="wow_spec <%= item_popularity.spec.css_icon_name %>"></td>
            <td class="percentage"><%= item_popularity.percentage %>%</td>
            <td class="average_gmt_score"><%= item_popularity.average_gmt_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
