<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% @meta_tags.each do |name, content| -%>
      <meta name="<%= name %>" content="<%= content %>" />
    <% end -%>
    <title><%= (@title || "Find the Best Gear in World of Warcraft") + " &mdash; gearmytoon.com" %></title>
    <%= stylesheet_link_tag 'reset-fonts-grids', 'application', 'item', 'characters', 'payment', 'tooltip', 'comments', 'spec', :cache => true %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15617749-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
     <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="header">
      <div class="row">
        <h1><%= link_to "gearmytoon.com", root_path %></h1>
        <ul id="nav">
          <li><%= link_to "Crowd sourced data", specs_path %></li>
          <li><%= link_to "Doing the &fnof;(x)", home_path(:anchor => 'math') %></li>
          <li><%= link_to "Gear your Toon", home_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Your Account", account_path %></li>
        </ul>
        <ul id="social_links">
          <li><%= link_to image_tag('twitter.png'), "http://twitter.com/gearmytoon", :title => 'Follow Gear My Toon on Twitter' %></li>
          <li><%= link_to image_tag('facebook.png'), "http://www.facebook.com/pages/Gear-My-Toon/116201925065981", :title => 'Become a Gear My Toon Fan on Facebook' %></li>
          <p>follow us</p>
        </ul>
      </div>
    </div>
    <% if flash[:notice].present? -%>
      <div id="flash" class="notice row grid_12"><p><%= flash[:notice] %></p></div>
    <% end -%>
    <% if flash[:error].present? -%>
      <div id="flash" class="error row grid_12"><p><%= flash[:error] %></p></div>
    <% end -%>
    <div id="content" class="row">
      <%= render :partial => "shared/google_ad_sense" %>
      <%= yield %>
    </div>
    <div id="footer">
      <div class="row">
        <%= link_to "home", root_url %> |
        <%= link_to "contact us", contact_url %>
        <p class="copyright">Copyright &copy; 2010 GearMyToon.com</p>
      </div>
    </div>
    <div id="tooltip">
    </div>
    <%= javascript_include_tag 'vendor/jquery-1.4.2.min', 'vendor/jquery.autocomplete.min', 'vendor/jquery.timers', 'vendor/jquery.example.min', 'application', :cache => true %>
    <!-- GET SATISFACTION -->
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "gearmytoon";
      feedback_widget_options.placement = "left";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "idea";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
    <!-- END GET SATISFACTION -->
  </body>
</html>
