<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Find the Best Gear for Your Toon &mdash; gearmytoon.com" %></title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css">
    <%= stylesheet_link_tag 'application', 'item', 'characters', 'payment', :cache => true %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15617749-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
     <script src="http://static.wowhead.com/widgets/power.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="header">
      <div class="row">
        <h1><%= link_to "gearmytoon.com", root_url %></h1>
        <ul id="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Doing the Math", reasons_path %></li>
          <li><%= link_to "Gear your Toon", signup_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "My Account", account_path %></li>
        </ul>
        <ul id="social_links">
          <li><%= link_to image_tag('twitter.png'), "http://twitter.com/gearmytoon", :title => 'Follow Gear My Toon on Twitter' %></li>
          <li><%= link_to image_tag('facebook.png'), "http://www.facebook.com/pages/Gear-My-Toon/116201925065981", :title => 'Become a Gear My Toon Fan on Facebook' %></li>
          <p>follow us</p>
        </ul>
      </div>
    </div>
    <% if flash[:notice].present? -%>
      <div id="flash" class="notice row grid_12"><p><%= flash[:notice] %></p></div>
    <% end -%>
    <% if flash[:error].present? -%>
      <div id="flash" class="error row grid_12"><p><%= flash[:error] %></p></div>
    <% end -%>
    <div id="content" class="row">
      <%= yield %>
    </div>
    <div id="footer">
      <div class="row">
        <%= link_to "home", root_url %> |
        <%= link_to "public beta", interested_url %> |
        <%= link_to "about us", reasons_url %>
        <p class="copyright">Copyright &copy; 2010 GearMyToon.com</p>
      </div>
    </div>
    <%= javascript_include_tag 'vendor/jquery-1.4.2.min', 'vendor/jquery.autocomplete.min', 'application' %>
  </body>
</html>
