<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Find the Best Gear for Your Toon &mdash; gearmytoon.com" %></title>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="header" class="row grid_12">
      <h1><%= link_to "gearmytoon.com", root_url %></h1>
      <div id="user_controls">
        <%= link_to "My Account", account_path %>
      </div>
    </div>
    <% if flash[:notice].present? -%>
      <div id="flash" class="row grid_12"><p><%= flash[:notice] %></p></div>
    <% end -%>
    <div id="content" class="row">
      <%= yield %>
    </div>
    <div id="footer" class="row">
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
